<div class="jumbotron">
    <h1>Welcome to ASG developer search project!</h1>
    <p>The goal of this website is to provide a custom interface to Stackoverflow, and to store in a SQL server database a history of the queries performed by the users.</p>
    <p>Feel free to use whatever external library you might need to solve the problems.</p>
</div>

<p>We expect you to <b>leverage the base and infrastructure classes already in place</b>. Please implement all the desired functionality trying to respect the current architecture. It may not be perfect, but we are looking for people able to adapt to existing practices and afterwards improve them. Feel free to suggest improvements to the architecture and partial implementation in place. We will be glad to hear them!</p>

<h2>Important</h2>
<p>Look for the text "HINT" in the project source code files. Hints have been placed in strategic places throughout the project to make your task easier.</p>
