<h1>Step 3</h1>
<p>This page should show the last 5 queries submitted by the users and their corresponding first result. Show all data that is rendered in step 1.</p>
<h3>Hints:</h3>
<ul>
    <li>
        You will need to modify the HomeController and QueryService classes.
    </li>
</ul>

<button>Refresh history</button>

<p></p>
<p></p>
