div#results{
    margin-top: 20px;
}

.panel{
    box-shadow: 0 0 5px black;
}

ul{
    list-style: none;
}

.img-avatar div{
    height: 50px;
    width:50px;
    background-size:cover;
    margin-bottom:10px;
}

.link{
    margin-top:10px;
}

.link:before{
    content:'';
    display: block;
}

hr{
    border:1px solid #ccc;
}


li.answerbody{
    overflow: hidden;
}

span.tag{
    background-color: #ccc;
    border-radius: 20px;
    margin-right: 10px;
    padding: 5px 10px 5px 10px;
}

h3.answertitle{
    padding-left:40px
}